:root {
    --light-grey-color: #dbdde1;
    --dark-grey-color: #b7b9bf;
    --error-color: #fd2437;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

ul, ol {
    list-style: none;
}

.visibility-hidden {
    height: 0;
    width: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
}

.todo-page::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 450px;
    background-image: linear-gradient(90deg, rgba(0, 0, 214, 0.5) 0%, rgba(225, 0, 255, 0.5) 100%),
        url('../public/mountains.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
